@charset "UTF-8";
:root {
  --blanco:#ffffff;
  --oscuro:#2122121;
  --primario:#ffc107;
  --secundario:#0097a7;
  --gris:#757575;
  --grisClaro:#dbd7d7; }

/*Globales*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* Hack para Box Model */ }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

body {
  font-size: 16px;
  /* 1 rem = 10 px*/
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); }

.contenedor {
  max-width: 120rem;
  margin: 0 auto; }

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none; }
  .boton:hover {
    cursor: pointer; }

@media (min-width: 480px) {
  .boton {
    width: auto; } }

.sombra {
  -webkit-box-shadow: 29px 31px 79px -35px rgba(0, 0, 0, 0.75);
  /* Propiedades para chrome */
  -moz-box-shadow: 29px 31px 79px -35px rgba(0, 0, 0, 0.75);
  /* Propiedades para fireFox */
  box-shadow: 29px 31px 79px -35px rgba(0, 0, 0, 0.75);
  /*  */
  background-color: var(--blanco);
  padding: 2 rem;
  border-radius: 1rem; }

/*Tipografía*/
h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h1, h2, h3 {
  text-align: center; }

/* Navegación principal */
.nav-bg {
  background-color: var(--secundario); }

.navegacion-principal {
  display: flex;
  flex-direction: column; }
  .navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem; }
    .navegacion-principal a:hover {
      background-color: var(--primario);
      color: var(--oscuro); }

@media (min-width: 780px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between; } }

/* Hero */
.hero {
  background-image: url(../imagenes/desarrolloWeb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  position: relative;
  margin-bottom: 2rem; }

.contenido-hero {
  position: absolute;
  /* background-color: rgb(0 0 0 / 40%); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenido-hero h2 {
    color: var(--blanco); }
  .contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end; }

.mov {
  position: fixed; }

/* Servicios */
@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem; } }

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.servicios {
  text-align: center;
  font-weight: 700;
  color: var(--secundario);
  margin: 2rem; }

.servicio p {
  line-height: 2;
  text-align: center; }

.servicio h3 {
  color: var(--secundario);
  font-weight: center; }

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* Contacto */
.formulario {
  position: relative;
  top: 20px;
  /* width: min(60rem, 100%); */
  /* Utiliza el valor más pequeño */
  margin: 0 auto; }
  .formulario fieldset {
    border: none; }
  .formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--secundario); }

.campo {
  margin-bottom: 1rem; }
  .campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .2rem;
    display: block; }

.imput-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: .5rem; }

/* MAPS */
.facebook {
  color: red; }

.instagram {
  color: blue; }

.linkedln {
  color: yellow; }

/* MAP GET */
.mapGet {
  background-color: #bcb9b9;
  font-size: 30px; }

.primerEstilo, .segundoEstilo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  color: #eff4f5; }

.segundoEstilo {
  font-size: 15px;
  color: #f6f0f0; }

.parrafosConEstilo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  text-align: center; }

.parrafosConNombre {
  font-size: 50px;
  text-align: right; }

/* Utilidades */
.w-sm-100 {
  width: 100%; }

@media (min-width: 768px) {
  .w-sm-100 {
    width: 100%; } }

.flex {
  display: flex; }

.alinear-derecha {
  justify-content: flex-end; }

/* Títulos */
.titulo {
  text-align: center;
  font-weight: 700; }
  .titulo span {
    font-size: 3rem; }
