

@mixin parrafos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-align: center;

}


.parrafosConEstilo {
    @include parrafos;
}



@mixin parrafosConParametros ($size, $alineacion){

    font-size: $size;
    text-align: $alineacion;
}


.parrafosConNombre {
    @include parrafosConParametros(50px, right)
}